#Esse arquivo server para excluir os arquivos que não subira para o repositório
.gitignore
.directory
modularizacao.md 
modularization.md
test.php
hexagon-structure-3g-1633279.jpg
Parede_carvão.jpg
Parede_carvao.jpg
