/*Essa parte configura as font-face*/
@font-face
{
    font-family: brpfont1;
    src: url(/.fonts1/AmaticSC-Bold.ttf);
}
@font-face
{
    font-family:brpfont2;
    src: url(/.fonts2/DancingScript-Bold.ttf);
}
@font-face
{
    font-family: brpfont3;
    src: url(/.fonts3/IndieFlower-Regular.ttf);
}
@font-face
{
    font-family: brpfont4;
    src: url(/.fonts4/Pacifico-Regular.ttf)
}
/*Essa parte configura o estilo inicial da página*/
body{
    margin: 0px;
    padding: 0px;
    background-image: url(/.img/hexagon-structure-3g-1633279.jpg);
    background-size: 1375px 1230px;
    background-repeat: no-repeat;
}
/*Essa parte configura o contenier que comporta o conteúdo da página*/